<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span id="title">Chat Application</span>
    <div class="buttons">
      <div *ngIf="!userService.isUserLoggedIn()">
        <a style routerLink="/login">
          <button mat-stroked-button>Login</button>
        </a>
        <a routerLink="/register">
          <button mat-stroked-button>Register</button>
        </a>
      </div>
      <div *ngIf="userService.isUserLoggedIn()">
        <a style (click)="logout()">
          <button mat-stroked-button>Logout</button>
        </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
